@import '../../../styles/spacing.scss';

:host {
  display: block;
  padding: 12px;
}

.form-group, .button-group {
  padding: 12px;
}

.summary {
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.textarea {
  padding: 12px;
  width: 100%;
  height: 400px;
  box-sizing: border-box;
  display: block;
}
