@import '../../styles/colors.scss';

:host {
  display: block;
}

.container {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  text-align: center;
  border: solid black 1px;
}
